body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "jetbrains mono";
  margin: 0;
  padding: 0;
}

#content {
  display: flex;
  flex-direction: column;
  height: 70vh;
  text-align: center;
  justify-content: space-between;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  margin-bottom: 50px;
}

li {
  list-style: none;
  font-size: 50px;
  width: 45px;
  padding: 20px;
  margin: 20px;
  transform: skew(-45deg, 25deg);
}

span {
  position: absolute;
  width: 43px;
  height: 45px;
  border-radius: 3px;
  transition: 0.4s;
}

li:hover span:nth-child(1) {
  transform: translate(-30px, -30px);
  opacity: 0.8;
}
li:hover span:nth-child(2) {
  transform: translate(-10px, -10px);
  opacity: 0.5;
}
li:hover span:nth-child(3) {
  transform: translate(-20px, -20px);
  opacity: 0.3;
}
li:hover span:nth-child(4) {
  background-color: white;
  transform: translate(-40px, -40px);
  opacity: 1;
}

.fb span:not(:nth-child(4)) {
  background: #5f72a9;
  opacity: 0;
}

.gh span:not(:nth-child(4)) {
  background: black;
  opacity: 0;
}
.ig span:not(:nth-child(4)) {
  background: #ff1981;
  opacity: 0;
}
.ld span:not(:nth-child(4)) {
  background: #0e76a8;
  opacity: 0;
}

.fa-facebook-square {
  color: #5f72a9;
}

.fa-instagram-square {
  color: #ff1981;
}

.fa-linkedin {
  color: #0e76a8;
}
