* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

header {
  z-index: 2;
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  color: whitesmoke;
}

footer {
  z-index: 2;
  display: flex;
  padding: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  color: whitesmoke;
}

.right {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;
  width: 50vw;
  height: 100vh;
  background-color: #2980b9;
}

.left {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50vw;
  height: 100vh;
  background-color: #8e44ad;
}

p {
  white-space: nowrap;
  font-size: 280px;
  text-overflow: clip;
  transition: 0.2s;
}

.left p {
  transform: translateX(800px);
  animation: scroolling1 5s linear infinite;
  color: #e67e22;
}

.right p {
  transform: translateX(1224px);
  animation: scroolling2 5s linear infinite;
  color: #e74c3c;
}

@keyframes scroolling1 {
  0% {
    transform: translateX(800px);
  }
  100% {
    transform: translateX(-1040px);
  }
}

@keyframes scroolling2 {
  0% {
    transform: translateX(1224px);
  }
  100% {
    transform: translateX(-612px);
  }
}
